@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('../fonts/Edwardian Script ITC/Edwardian Script ITC.TTF');
}

@font-face {
    font-family: 'Lymbo';
    src: url('../fonts/Lymbo/Lymbo.ttf');
}

html, body {
    font-family: 'Georgia', 'Calibri';
    font-size: 20px;
    /* padding: 0;
    margin: 0 auto; */
    color: black;
    background-color: #FFFFFF;
    width: 100%;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 120px;
    background-color: #EAE4DB;
    padding-left: 10px;
    padding-right: 20px;
    /* fixed header by scrolling TOADD*/
    /* width: 100%;
    position: fixed; */
    /* top: 0; */
}

#logo-and-slogan {
    height: 120px;
    display: inline-block;
}

#logo {
    height: 120px;
    width: 120px;
    float: left;
}

#logo ul li a img {
    height: 120px;
    width: 120px;
}

#separator {
    float: left;
    height: 100px;
    width: 8px;
    margin: 10px;
    background-color: #A12013;
}

#slogan {
    float: left;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#slogan h1 {
    font-family: 'Lymbo';
    font-size: 1.5em;
    font-weight: bold;
    color: #A12013;
    align-self: flex-start;
}

nav {
    float: right;
}

nav ul {
    margin-top: 80px;
}

nav ul li {
    float: left;
    margin-left: 26px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #A12013;
}

nav ul li a:hover {
    color: black;
}

#content {
    width: 100%;
    /* TOADD */
}

#messages {
    width: 100%;
    margin: 0 auto;
}

#messages img {
    width: 100%;
}

.centered, .title {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#main-message {
    font-size: 1.8em;
    color: #A12013;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    height: 1px;
    width: 600px;
    background-color: #A12013;
    margin-bottom: 20px;
}

#message {
    font-size: 1.3em;
    color: #A12013;
    font-weight: bold;
    margin-bottom: 30px;
}

#let-me-button {
    background-color: #A12013;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}

#let-me-button:hover {
    background: #ffaf4b;
    background: -moz-linear-gradient(-45deg, #ffaf4b 0%, #f50e0e 0%, #ed1111 0%, #ee1313 1%, #f72525 9%, #f2eb29 24%, #f2eb29 33%, #57f028 41%, #2853de 63%, #2853de 74%, #2853de 74%, #2b51db 75%, #3b42c8 81%, #70128c 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffaf4b), color-stop(0%, #f50e0e), color-stop(0%, #ed1111), color-stop(1%, #ee1313), color-stop(9%, #f72525), color-stop(24%, #f2eb29), color-stop(33%, #f2eb29), color-stop(41%, #57f028), color-stop(63%, #2853de), color-stop(74%, #2853de), color-stop(74%, #2853de), color-stop(75%, #2b51db), color-stop(81%, #3b42c8), color-stop(100%, #70128c));
    background: -webkit-linear-gradient(-45deg, #ffaf4b 0%, #f50e0e 0%, #ed1111 0%, #ee1313 1%, #f72525 9%, #f2eb29 24%, #f2eb29 33%, #57f028 41%, #2853de 63%, #2853de 74%, #2853de 74%, #2b51db 75%, #3b42c8 81%, #70128c 100%);
    background: -o-linear-gradient(-45deg, #ffaf4b 0%, #f50e0e 0%, #ed1111 0%, #ee1313 1%, #f72525 9%, #f2eb29 24%, #f2eb29 33%, #57f028 41%, #2853de 63%, #2853de 74%, #2853de 74%, #2b51db 75%, #3b42c8 81%, #70128c 100%);
    background: -ms-linear-gradient(-45deg, #ffaf4b 0%, #f50e0e 0%, #ed1111 0%, #ee1313 1%, #f72525 9%, #f2eb29 24%, #f2eb29 33%, #57f028 41%, #2853de 63%, #2853de 74%, #2853de 74%, #2b51db 75%, #3b42c8 81%, #70128c 100%);
    background: linear-gradient(135deg, #ffaf4b 0%, #f50e0e 0%, #ed1111 0%, #ee1313 1%, #f72525 9%, #f2eb29 24%, #f2eb29 33%, #57f028 41%, #2853de 63%, #2853de 74%, #2853de 74%, #2b51db 75%, #3b42c8 81%, #70128c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#70128c', GradientType=1);
}

#let-me-button a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

#let-me-button a:hover {
    color: black;
    font-weight: bold;      
}

.title {
    font-size: 1.8em;
    color: #A12013;
    font-weight: bold;
}